.overview {
    color: white;
}

.detail-container {
    max-width: 960px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.movie-detail-container {
    color: white;
}

.movie-poster {
    float: left;
    margin-right: 20px;
}

.movie-all-details {
    width: 630px;
    float: right;
}

.moviedetail-title {
    color: #ffc107;
    width: 90%;
    float: left;
    margin: 0px;
    font-size: xx-large;
}

.row-title {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    height: 30px;
}

.rating-container {
    margin: 0px;
    float: right;
    border: 2px solid #ffc107;
    text-align: center;
    line-height: 28px;
    border-radius: 50%;
    padding: 10px;
    width: 5%;
}

.tagline {
    padding: 10px;
    margin: 10px 0;
    font-size: medium;
}

.movie-overview {
    margin: 10px;
    font-size: larger;
}

.genre-conatiner {
    margin: 20px 10px;
    padding: 15px 0;
}

.release-details {
    background-color: black;
}

.release-conatiner {
    margin: 0 auto;
    border: 1px solid black;
}

.release-detail {
    float: left;
    margin-right: 50px;
    margin-left: 10px;
}

.genres-name {
    margin: 0px 10px;
    background-color: #ffc107;
    padding: 10px;
    font-weight: bold;
}
